<%= form_with(model: bookshelf, local: true) do |form| %>
  <% if bookshelf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookshelf.errors.count, "error") %> prohibited this bookshelf from being saved:</h2>

      <ul>
      <% bookshelf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :bookshelf_user_id %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id, id: :bookshelf_book_id %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :bookshelf_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
