<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Money:</strong>
  <%= @user.money %>
</p>


<h2>Collection</h2>
<ul>
<% @user.books.each do |b| %>
  <li><%= link_to b.title, b %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', User %>
