<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Book:</strong>
  <%= @order.book %>
</p>

<p>
  <strong>Number:</strong>
  <%= @order.number %>
</p>

<%= link_to 'Back', orders_path %>
